html {
    background-image: url('./images/main-background-4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
    font-family: 'Merienda', sans-serif;
}

body {
    margin: 0;
    padding: 30px 0; 
    background-repeat: no-repeat;
}

section {
    height: 75%;
}

p {
    text-align: center; 
    font-size: 1.4rem;
    padding: 0 5%;
}

ul {
    margin: auto;
}

.inner {
    background-color: #dc4791;
    width: 58%;
    margin: 1rem auto;
}

.test {
    background-color: #D3D3D3; 
    opacity: .75;
    width: 50%;
    padding: inherit;
    margin: 25px auto; 
}

.test h2 {
    text-align: center; 
    font-family: 'Kalam', sans-serif;
}

.test ol, ul {
    width: 75%;
    margin: 10% auto;
    font-size: 1.4rem;
    margin-left: 7%;
}

.section-headers {
    font-family: 'Kalam', sans-serif;
    display: block; 
    margin: 50px auto; 
    background-color: #9147dc;
    text-align: center; 
    width: 50%; 
    box-shadow: 5px 3px 5px #404040;
}

.bottom-element {
    padding: 0 0 3% 0;
}

.top-element {
    padding: 3% 3% 0 3%;
}

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 1000px) {
    html {
        font-size: 14px
    }

    .section-headers {
        width: 90%;
    }

    .test {
        width: 90%;
    }

    .test ol {
        margin: auto;
        font-size: 1.1rem; 
        width: 80%;
    }
    .inner {
        width: 80%;
    }
}