/* GENERAL */

html {
    background: url('./main-background-4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
    font-family: 'Gaegu', sans-serif;
} 

body {
    margin: 0;
    padding: 30px 0; 
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Delius Unicase', sans-serif;
    font-weight: bold; 
    font-size: 2em; 
}

section {
    margin: auto 80px; 
}

article {
    margin: auto; 
}

div {
    width: 11rem;
    margin: 20px auto; 
    display: inline-block;
    text-align: center;  
}

.categorias,
.inscripciones,
.contactos,
.atracciones {
    position: relative;
    width:50%;
    left: 43%; 
}

.section-headers {
    display: block; 
    margin: 50px auto; 
    background-color: #9147dc;
    text-align: center; 
    width: 100%; 
    box-shadow: 5px 3px 5px #404040;
}

.left-panel {
    position: fixed; 
    display: inline-block;
    height: 45%;
    right: 49%;
}

/* LOGO OF EVENT */

.stand-in {
    position: relative;
    right: 90px;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    margin: 0 auto; 
    height: 65%; 
    border-radius: 100%;
    box-shadow: 10px 3px 5px #404040;
}

.test { 
    position: relative;
    right: 90px;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 55%;
    box-shadow: 10px 5px 5px #404040;
}

.sponsors {
    background-color: white;
    height: 15%;
    width: 15%;
    margin: 10px; 
}

/* ATRACCIONES */

.atracciones-container {
    background-image: url(./musica-comida.jpg);
    height: 23rem; 
}

.atracciones-container ul {
    background-color: white;
    height: 6rem;
    font-size: 1.1rem;
    width: 15rem;
    margin: 0 auto;
}

.atracciones-container div {
    width: 100%;
    height: 100%;
}

.inner {
    background-color: #dc4791;
    width: 58%;
    margin: 1rem auto;
}

/* CATEGORIAS */

.categorias-main {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    background-size: cover;
    margin: 20px auto;
    height: 22rem; 
    width: 100%;
}

.surf {
    background-image: url('./surfer-open.jpg');
}

.boogie {
    background-image: url('./boogie-open.jpg');
}

.categorias-main div {
    background-color: white;   
    border-radius: 5%;
    height: 30%;
    width : 30%;
    opacity: .5;
    transition-duration: 450ms;
    transition-property: opacity;
    text-align: center;
} 

/* INSCRIPCIONES Y CONTACTOS */

.ins,
.con {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    height: 5rem; 
    width: 75%;
    text-align: center;
}

.ath-movil {
    display: inline-block;
    position: relative;
    right: 7%;
    top:32%; 
    height: 40px;
    opacity: 1; 
}

.ath-num {
    position: relative;
    top: 4%;
    left: 5%;
    width: 40%;
    font-size: 1.4rem;
    opacity: 1;
    transition: ease; 
}

/* MEDIA QUIERIES */

@media (min-width: 320px) and (max-width: 500px)  and (orientation: portrait) {
    .left-panel {
        position: relative;
        right: 0px;
    }

    .stand-in {
        width: 20rem;
        position: relative;
        right: 12%
    }

    .test {
        position: relative;
        right: 11%;
    }

    .categorias,
    .inscripciones,
    .contactos,
    .atracciones {
        position: relative;
        left: -19%;
        width: 22rem;
    }

    .categorias-main div {
        opacity: 1; 
    }
}

@media (min-width: 510px) and (max-width: 1030px) {
    .left-panel {
        position: relative;
        left: 19%;
    }

    .stand-in {
        width: 85%;
        position: relative;
        right: 19%
    }

    .test {
        position: relative;
        right: 20%;
    }

    .categorias,
    .inscripciones,
    .contactos,
    .atracciones {
        position: relative;
        left: -1%;
        width: 90%;
    }

    .categorias-main div {
        opacity: 1; 
    }
}